@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Source+Code+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sidebar{
    position: absolute;
    background-color: rgb(223, 218, 218);
    /* width: 350px; */
    font-family: 'Fira Sans', sans-serif;
    height: 745px;
    transition: transform 0.3s ease-in;
}

.sidebar nav{
    padding: 45px;
}

.sidebar nav li{
    list-style: none;
    font-size: 19px;
    padding: 33px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.main{
    /* background-color: yellow; */
    width: 90vw;
    padding-left: 20px;
}

.container{
    display: flex;
}

.infoContainer{
    /* background-color: purple; */
    height: 48vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello{
    font-size: 3em;
}

.name{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.about{
    font-size: 2.5em;
}

.moreabout{
    font-size: 2em;
    margin-top: 23px;
    font-family: 'Fira Sans', sans-serif;
}

.buttons{
    margin-top: 32px;
    font-size: 16px;
}

.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 2em;
    margin: 3px 3px;
    cursor: pointer;
}

.btn-sm{
    font-size: 14px;
    padding: 10px 12px;
    margin: 12px 0;
    width: 100px;
}

.btn:hover{
    background-color: white;
    color: dodgerblue;
}

.devPic img{
    height: 60vh;
    margin-right: 5px;
    margin-top: -15px;
    padding-left: 10px;
}

/*Contact.html file styling*/

.contact {
    height: 12vh;
    margin: 0px;
    margin-left: 590px;
}
.contactForm {
    padding: 0px 34px;
    font-family: 'Fira Sans', sans-serif;
    margin: 5px 88px;
}

.contactForm h1 {
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;
}

.contactForm form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactForm form div input{
    /* width: 26vw; */
    border-radius: 5px;
    margin-top: 6px;
    padding: 3px;
}

#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 24px;
    margin: 3px 0;
}

/*Intro page css*/

.intro{
    margin: 88px;
}

.intro h1{
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
}

.intro p{
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
    color: grey;
}

.skillContainer{
    padding: 12px;
}

.skillItem{
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
}

.skill{
    width: 265px;
    height: 6px;
    background-color: red;
    border: 1px solid black;
}

.hundred{
    width: 265px;
    background-color: blueviolet;
}

.fifty {
    width: 125px;
    background-color: aqua;
}

.t5 {
    width: 75px;
    background-color: yellow;
}

.sidebarGo {
    transform: translate(-443px, 0px);
    position: absolute;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.ham{
    margin-left: 10px;
}

.cross{
    margin-left: 132px;
    margin-top: 5px;
}

@media (max-width: 1354px) {
    .buttons{
        font-size: 6px;
    }
    .devInfo{
        font-size: 10px;
    }
    .devPic{
        display: none;
    }
    .contact{
        display: none;
    }
    .intro, .contactForm{
        margin: 50px 10px;
    }
}